<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      </header>
      <div class="a.b">
      <nav>
        {{#if loggedIn}}
        <a class="btn-no-style" href="/dashboard">dashboard</a>
        <a id="logout" class="btn-no-style">logout</a>
        {{else}}
        <a class="b" href="/login">login</a>
        {{/if}}
      </nav>
      </div>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Where nerds go for knowledge!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>